@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 23, 18, 18;  /* Updated color: #1e1a1a */
  --background-end-rgb: 23, 18, 18;  /* Updated color: #1e1a1a */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 23, 18, 18; 
    --background-end-rgb: 23, 18, 18; 
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@font-face {
  font-family: Space;
  src: url(../fonts/SpaceGrotesk-Light.ttf);
}

@font-face {
  font-family: Spacee;
  src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

@font-face {
  font-family: Lmao;
  src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
  font-weight:600;
  size: 63px;
  line-height: 97px;
}

@font-face {
  font-family: Nuh;
  src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
  font-weight:300;
  size: 18px;
  line-height: 28px;
}

@font-face {
  font-family: Nuhuh;
  src: url(../fonts/JetBrainsMono[wght].ttf);
  font-weight:300;
  size: 18px;
  line-height: 28px;
}
@font-face {
  font-family: NuhUh;
  src: url(../fonts/JetBrainsMono[wght].ttf);
  font-weight:400;
  size: 16px;
  line-height: 22px;
}
@font-face {
  font-family: Lamfao;
  src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
  font-weight:500;
  size: 36px;
  line-height: 50px;
}

.spacee{
  font-family: Space;
}

.meow{
  font-family: Lmao;
}

#my-tooltip {
  background-color: #bda3a3;
  color: #1e1818;
  border-radius: 7px;
  font-family: Space;
  opacity: 100%;
  transition: all;
}

.huh {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}

#btn{
  font-family: space;
}


.brr{
  font-family: space;
}

.br{
  font-family: Spacee;
}

.brrr{
  font-family: Lamfao;
}

.brrrr{
  font-family: Nuh;
  color: #bda3a3;
}

.bio_span{
  font-family: Nuhuh;
}

.User{
  font-family: NuhUh;
}

.Usr{
  width: clamp(100px, 50vw, 500px);
}